.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: rgb(1, 1, 44);
}

.navbar-links {
  flex: 2;
  display: flex;
  gap: 2rem;
}

.navbar-link_logo {
  display: flex;
  align-items: center;
  margin: 0;
  text-align: center;
}

.navbar-link_logo a {
  text-decoration: none;
  color: white;
}

.navbar-links_container {
  /* position: relative; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  margin: 0;
}

.navbar-links_container a {
  text-decoration: none;
  color: #fff;
}

.navbar-signs {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.navbar-signs a {
  text-decoration: none;
  color: #fff;
}

.navbar-signs button {
  background: orangered;
  border: none;
  outline: none;
  padding: 0.5rem 0.75rem;
  border-radius: 6px;
  font-size: inherit;
  font-weight: 600;
  cursor: pointer;
}

.navbar-menu {
  margin-left: 1rem;
  display: flex;
  align-items: center;
}

.navbar-menu_icon {
  font-size: inherit;
  cursor: pointer;
}

.navbar-menu {
  display: none;
}

.navbar-menu_containers {
  position: fixed;
  top: 10%;
  right: 0%;
  /* border: 1px solid white; */
  width: 15rem;
  padding: 2rem;
  background: rgb(1, 1, 44);

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.navbar-menu_container-signs p {
  margin: 0;
  margin-bottom: 1rem;
}

.navbar-menu_containers a {
  text-decoration: none;
  color: #fff;
}

.navbar-menu_containers button {
  background: orangered;
  border: none;
  outline: none;
  padding: 0.5rem 0.75rem;
  border-radius: 6px;
  font-size: inherit;
  font-weight: 600;
  cursor: pointer;
}

@media (max-width: 750px) {
  .navbar-menu {
    display: block;
  }

  .navbar-links_container {
    display: none;
  }

  .navbar-signs {
    display: none;
  }
}
