.card-primary {
  border: 1px solid rgba(255, 69, 0, 0.3);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  transition: all 0.4s linear;
}

.card-primary:hover {
  color: orangered;
  box-shadow: 0 6px 10px rgba(255, 69, 0, 1);
  transform: translateY(-8px);
}
